<mat-toolbar [class.mat-elevation-z2]="true">
  <!-- <mat-icon matTooltip="Welcome" aria-label="Welcome">visibility</mat-icon>
  Puru Eye Hospital -->
  <img matTooltip="Welcome" src="../assets/icon.png" style="max-height: 100%;width: auto;">
  <span flex></span>
  <a id="no-a-style" href="tel:+91-94140-65020" style="color: #000">
    <button matTooltip="Call" mat-icon-button>
      <mat-icon aria-label="Call">call</mat-icon>
    </button>
  </a>
  <button matTooltip="Directions" mat-icon-button (click)="openDirectionsDialog()">
    <mat-icon aria-label="Get directions">directions</mat-icon>
  </button>
</mat-toolbar>
<div id="banner" style="background: url(../assets/banner.jpg) no-repeat center center fixed;">
  <img width="100%" src="../assets/banner.jpg" style="visibility: none;" />
</div>
<peh-description></peh-description>
<br>
<br>
<mat-divider></mat-divider>
<mat-grid-list cols="5" rowHeight="1:1">
  <mat-grid-tile *ngFor="let tile of data" [colspan]="tile.cols" [rowspan]="tile.rows">
    <img [src]="tile.background" style="max-height: 100%;width: auto;">
  </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<mat-list id="credits">
  <mat-list-item>Site created by &nbsp;
    <a target="_blank" href="https://plus.google.com/+PuruVijay">Puru Vijay</a>
  </mat-list-item>
  <mat-list-item>
    <span flex></span>
    Mail us @ &nbsp;
    <a href="mailto:vijaydrsandeep@yahoo.co.in">vijaydrsandeep@yaoo.co.in</a>
  </mat-list-item>
  <mat-list-item>
    <span flex></span>
    Call us @ &nbsp;
    <a href="tel:0141-2780150">0141-2780150</a>
  </mat-list-item>
  <mat-list-item>
    <span flex></span>
    <a href="tel:0141-2722823">0141-2722823</a>
  </mat-list-item>
  <mat-list-item>
    <span flex></span>
    <a href="tel:+91-9414065020">+91-9414065020</a>
  </mat-list-item>
</mat-list>