<div>
  <h1 class="heading">About</h1>
  <p>
    <b>Puru Eye Hospital, Lasik Laser & Phaco Surgery Centre</b> is a well recognized name in eye care services in Jaipur
  </p>
  <br>
  <p>
    This is owned by Dr
    <b>Sandeep Vijay (M.S.)</b> who has a vast experience of 25 years in advance eye care
  </p>
  <br>
  <p>
    It has two locations: one at
    <a target="_blank" href="https://goo.gl/maps/1zsRFLb2nvz">Mansarovar</a> and other at
    <a target="_blank" href="https://goo.gl/maps/W4RbVcZMWzw">Durgapura</a> . The out patient department of each one is well equipped with latest state of the art equipments. Operation
    theatre of Puru Eye Hospital at Mansarovar is well equipped with latest phaco emulsification machine, operating microscope
    along with all necessary equipments
  </p>
  <br>
  <p>
    <b>Dr Sandeep Vijay</b> is specially trained in Micro Incision surgeries, Lasik surgeries & IOL surgeries .At Puru Eye Hospital
    Minimal Invasive Cataract Surgeries using Multifocal, Toric & premium IOLs are performed routinely. Besides this, he
    also performs Glaucoma, Squint, Pterygium & Oculoplastic Surgeries
  </p>
  <br>
  <p>
    Dr Sandeep Vijay is one of the directors of
    <a target="_blank" href="https://goo.gl/maps/h2wYaivGa9P2">Jaipur laser Vision Centre Pvt Ltd</a> located at Lal kothi Residential area, near Vidhansabha, Jaipur. Dr Sandeep Vijay
    is specially trained to perform all refractive surgeries to remove spectacles whether it is Lasik, PRK, epi Lasik or
    phakic IOLs
  </p>
  <br>
  <p>
    Devoted services to the patients is USP of Dr Sandeep vijay & Puru Eye Hospital
  </p>
  <br>
  <br>
  <h1 class="heading">Addresses & timings</h1>
  <mat-list>
    <h3 mat-header>Puru Eye Hospital, Mansarovar</h3>
    <mat-list-item>
      <h2 matLine>Morning 9.00 a.m. to 10.45 a.m.</h2>
    </mat-list-item>
    <mat-list-item>
      <h2 matLine>Evening 4.00 p.m. to 5.30 p.m. </h2>
    </mat-list-item>
    <mat-list-item>
      <h2 matLine>Sunday- 09.00-11.30 (by appointment)</h2>
    </mat-list-item>
    <br>
    <mat-divider></mat-divider>
    <h3 mat-header>Puru Eye Hospital, Durgapura</h3>
    <mat-list-item>
      <h2 matLine>Morning 11.15 a.m. to 1.30 p.m.</h2>
    </mat-list-item>
    <mat-list-item>
      <h2 matLine>Evening 6.00 p.m. to 8.00 p.m. </h2>
    </mat-list-item>
    <mat-list-item>
      <h2 matLine>Sunday- closed</h2>
    </mat-list-item>
  </mat-list>
</div>